* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color:#263352;
}


body {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    gap: 4rem;
}

*::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/images/manila_road_1.jpg");
    background-size: cover;
    opacity: .6;
    z-index: -1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background: rgb(211,229,245,.95);
    width: 100%;
}


#auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4rem .5rem;
    /* border: 2rem solid; */
    flex: 1;
    /* max-width: 300px; */
    width: 30%;
    background: rgb(211,229,245,.95);
    border-radius: 1.5rem;
}

.register-content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
}

#auth .authInput{
    border: 1px solid;
    border-radius: .5rem;
    font-size: large;
}

#auth button{
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: 1px solid;
}

::placeholder {
   text-align: center; 
}

.nav-container {
    display: flex;
    gap: 1rem;
}

#title-text {
    text-decoration: none;
    display: flex;
    gap:0;
}

.text-link {
    text-decoration: none;
    font-weight: 600;
}

.gold{
    color:rgb(252, 203, 8);
}

.blue{
    color:rgba(0, 51, 160);
}